@import url('https://fonts.googleapis.com/css?family=Comfortaa');

.background {
  background-image: url("../src/images/pacman.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  background-color: black;
}