@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@fa-font-path 

*{
  margin: 0px;
  padding: 0px;
  outline: none;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursives;
}

body{
  color:red;
  background-color: blue;
}

.search-button i {
  color: red;
  background-color: yellow;
}

.input {
  font-size: 500;
}