@import url('https://fonts.googleapis.com/css?family=Comfortaa');

.App {
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 100px;
  position: relative;
  padding: 00px;
  text-align: center;
  position: fixed;
  top: 35%;
  left: 37%;
  color: white;
  
}

*{
  margin: 0px;
  padding: ;
  outline: ;
  box-sizing: ;
  font-family: 'Comfortaa', cursives;
}

.background {
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url('../src/images/pacman.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  background-color: black;
}

body {
  height: 100vh;
  position: absolute;
  overflow: hidden;
}

.search-bar {
  background-color: rgb(198, 188, 188);
  position: fixed;
  top: 40%;
  left: 37%;
  width: 250px;
  font-size: ;
}

.toggle-button {
  background: rgb(221, 208, 208);
}

.search {
  border-radius: 5px;
  color: black;
  font-size: 205px;
  width: 460px;
  background-color: rgb(221, 208, 208);
  padding: 5px; 
  position: fixed;
  top: 40%;
  left: 37%;
}

::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: black;
}

.outlined-search-bar {
  background-color: rgb(209, 199, 199);
  width: 500px;
  font-size: 400px;
  font-weight: 300px;
}

.gamebox {
  text-align: center;
  top: 50%;
  left: 50%;
}